.fragment {
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
}

.orderform {
    margin: 0 auto;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.button {
    margin-top: 20px;
}

.stepnumber {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doing {
    background-color: rgba(0, 116, 217, 1);
}

.line {
    height: 2px;
    background-color: #f2f0ed;
    flex: 1;
}

.completed {
    background-color: rgba(0, 116, 217, 1);
    transition: ease 0.75s;
}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.ratio-control {
    margin-left: 20px;
}