body {
  background: var(--bs-gray-dark);
  font-family: Cantarell, sans-serif;
}

ul {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lilita One', serif;
}

.restaurant-name {
  font-family: 'Lilita One', cursive
}

.nav-btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.nav-btn:disabled {
  pointer-events: none;
}

.nav-btn:focus {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.nav-btn:active {
  box-shadow: none;
  transform: translateY(0);
}